.container{
  margin-block: auto;

}
.App {
  max-width: 400px;
  margin: auto;
  align-items: center;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 1px grey;
  margin-top: 10rem;
}
h1{
  text-align: center;
}
input{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.9rem;
}

.btn-container{
  display: flex;
  justify-content: space-between;
}

button{
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}